{{>header}}
    <!--main header-->
    <div class="contianer main_header">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <!--Left side div-->
                    <div class="col-md-6 col-12  main_header_right">
                        <figure>
                            <img src="images/mateen.jpg" class="img-fluid" title="Full Stack MERN Developer"
                                alt="Abdul mateen">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hi !</p>
                        <h2>I am a full stack <span>MERN Developer</span> and <span>WordPress Developer</span> at
                            <span>Experiasol Software</span> Company.</h2>
                        <h3>Thanks !</h3>
                        <p> Visit Explore Experiasol</p>
                        <a href="http://experiasol.com.au/" target="_blank"><button>Experiasol</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
{{>footer}}