@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800&display=swap');
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 7rem;
  left: 0;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playfair Display";
}
body{
    height: 100vh;
    display:flex;
    flex-direction: column;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: White;
}

:root{
    --main-bg:#1e272e;
    --main-color:#0097e6;
}
html{
    font-size: 62.5%;
}
.row{
    margin: 0px;
}
.main-menu{
    background-color: var(--main-bg);
}
.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
    font-size: 2rem;
}
.navbar-brand{
    font-size: 2rem;
}
.navbar li{
    margin-left: 2rem;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar-toggler{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid black;
    border-radius: .25rem;
}
.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*Main Header*/
.main_header_left{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.main_header_left p{
    font-size: 2rem;
}
.main_header_left h2{
    font-size: 2rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left span{
    color: var(--main-color);
}
.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.main_header_right{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer{
    width: 100%;
    background: var(--main-bg);
    margin-top: auto;
}
footer p{
    margin: 0px;
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 7rem;

    
}

@media (max-width:768px){
    .main_header_left{
        height: auto;
        margin-top: 5rem 0;
        
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;

    }
}
.main_header_right figure img{
    height: 30rem;
    width: 30rem;
    filter: drop-shadow(0 0.5rem 1rem rgb(0,0,0,0.3));
}
/*404 error page*/
.page-wrap {
    min-height: 100vh;
    background: #dedede;
}
/* weather page style */
/* temp input fields style code */

.temp_form {
    width: 60%;
    position: relative;
    margin: 5rem auto;
  }
  
  .temp_form input[type="text"] {
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
  }
  
  ::placeholder {
    color: #bfc1c8;
  }
  
  .temp_form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
  }
  
  .temp_form input[type="submit"]:hover {
    color: #009ad8;
    background-color: #fff;
  }
  
  /* temp detials show here */
  
  .tempInformation {
    width: 50rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
  }
  
  .top_layer {
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;
  }
  
  .top_layer p {
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
  }
  
  .main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .main_layer #city_name {
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
  }
  
  .main_layer .middle_layer {
    display: flex;
    justify-content: space-around;
    color: #fff;
  }
  
  .main_layer .middle_layer p,
  .main_layer .middle_layer .fa {
    font-size: 7rem;
    font-weight: 900;
  }
  
  .fa {
    color: #009ad8;
  }
  
  sup {
    font-size: 6rem;
    margin-top: -2rem;
  }
  
  .data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
  }
  
  /* 404 error page */
  
  .main_header_left .errimg img {
    width: 60rem;
    height: 30rem;
  }
  
  /* footer style  */
  
  footer {
    width: 100%;
    /* height: 5rem; */
    background-color: var(--main-bg);
    margin-top: auto;
  }
  
  footer p {
    margin: 0;
    text-align: center;
    line-height: 5rem;
    color: #fff;
    font-size: 1.4rem;
  }
  
  /* responsive code  */
  
  @media (max-width: 768px) {
    .main_header_left {
      height: auto;
      margin: 5rem 0;
    }
  
    .main_header_right {
      height: auto;
      margin-top: 3rem;
    }
  
    .temp_form {
      width: auto;
    }
    .tempInformation {
      width: auto;
    }
  
    .main_layer .middle_layer p,
    .main_layer .middle_layer .fa {
      font-size: 5rem;
      font-weight: 900;
    }
  }
  









